# =============================
# FRONTEND (Node / React)
# =============================
node_modules/
build/
dist/
.pnp
.pnp.js
coverage/

# Frontend env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =============================
# BACKEND (Python)
# =============================
__pycache__/
*.pyc
*.pyo
venv/
.env

# =============================
# DATASETS (VERY IMPORTANT)
# =============================
*.csv
*.xlsx
*.xls
data/
dataset/

# =============================
# ML MODELS / ARTIFACTS
# =============================
*.h5
*.joblib
*.ckpt

# =============================
# OS
# =============================
.DS_Store
Thumbs.db
